body{
    background: #ddd;
}

.wrapper{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-wrapper{
    width: 350px;
    height: 300px;
    box-shadow: 0 40px 20px rgba(0, 0, 0, 0.5);
}

.img-area img{
    width: 100%;
  
}

.img-text{
    text-align: center;
    color: #fff;
    background: #262626;
    padding: 25px;
    margin-top: -5px;
}

.img-text h2{
    font-size: 50px;
    margin: 0;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
}

.img-text p{
    font-family:  Arial, sans-serif;
    font-size: 15px;
}

.img-text p i{
    padding: 0 5px;
}